<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>61044792366-bhvotp18ac7d8ir9ouf4c1ds2icp9q7q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61044792366-bhvotp18ac7d8ir9ouf4c1ds2icp9q7q</string>
	<key>API_KEY</key>
	<string>AIzaSyAH0yNakuJ1nRgAeRHN1t6aNduvvjNjl68</string>
	<key>GCM_SENDER_ID</key>
	<string>61044792366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shrutiapps.PokeSearch</string>
	<key>PROJECT_ID</key>
	<string>pokesearch-7bf74</string>
	<key>STORAGE_BUCKET</key>
	<string>pokesearch-7bf74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61044792366:ios:70612f9276aaddfb</string>
	<key>DATABASE_URL</key>
	<string>https://pokesearch-7bf74.firebaseio.com</string>
</dict>
</plist>